<h1>Registrarme</h1>

<%= form_for @user, :html => {:multipart => true } do |f| %>
  <%= render :partial => "form", :object => f, :locals => { :user => @user } %>
  <%= f.submit "Register" %>
<% end %>