/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
.fondo{background: #5e5e5e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMiUiIHN0b3AtY29sb3I9IiM1ZTVlNWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmQyZDJkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  #5e5e5e 12%, #2d2d2d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#5e5e5e), color-stop(100%,#2d2d2d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5e5e5e 12%,#2d2d2d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5e5e5e 12%,#2d2d2d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5e5e5e 12%,#2d2d2d 100%); /* IE10+ */
background: linear-gradient(top,  #5e5e5e 12%,#2d2d2d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#2d2d2d',GradientType=0 ); /* IE6-8 */
}
.fondo2{ background:#CCCCCC;}
.fomdo3{background:#E5E5E5; background-image: url("assets/images/pattern.png") background-repeat:repeat-x;}
.Contenedor{width:960px; margin:0 auto; padding:0px;}
.Cabeza{ text-align:center; margin:20px 0;}
.Cabeza a{ font-size:18px; color:white; text-decoration:none;}
.Cabeza img{ padding:0 0 0 30px; border:1px solid red;}
.Cabeza a:hover{color:#CCCCCC; text-decoration:none;}
.bordeGris{border-top:1px solid #444444;}
.bordeGris2{border-top:1px solid #aaaaaa;}
.bordeGris3{border-top:1px solid #D8D8D8; margin:10px 0 0 0;}
h1 { font-family: Arial, Helvetica, sans-serif; font-weight: 400; }
.tituloFooter a{color:#E5E5E5; font-weight:bold; font-size:14px; text-decoration:none;}
.tituloFooter a:hover{color:#E5E5E5; font-weight:bold; font-size:14px; text-decoration:none;}
.iconos img{ float:right; margin: -30px 0 0 10px; width:30px; height:30px;}
.iconosFooter img{ float:left; margin: 0 0 0 90px; width:30px; height:30px;}
.clear{clear:both;}
#Contenedor2{width:960px; margin:0 auto; padding:0px; background-color:blue;}
.textoImgFooter{margin:10px; color: white; font-size:14px;}
#FraseJocosa{ color:white; margin:40px 0; font-size:30px; text-shadow: 0px 2px 1px #212121;filter: dropshadow(color=#212121, offx=0, offy=2);}
.imagenFooter img{margin:-20px 0 0 0; float:right; width:30px; height:30px;}
.cajaSocial{height:50px; margin:20px 0; background:#DDDDDD; -webkit-border-radius: 10px;
-webkit-border-bottom-right-radius: 1px;
-webkit-border-bottom-left-radius: 1px;
-moz-border-radius: 10px;
-moz-border-radius-bottomright: 1px;
-moz-border-radius-bottomleft: 1px;
border-radius: 10px;
border-bottom-right-radius: 1px;
border-bottom-left-radius: 1px;}

#columnaFace{float:left; display: block; width:100px; height:50px;background: url('/assets/facebook.png') top;text-indent: -99999px;}
#columnaFace:hover {background-position: 0 50px;}

#columnaTumblr{float:left; display: block; width:100px; height:50px;background: url('/assets/tumblr.png') top;text-indent: -99999px;}
#columnaTumblr:hover {background-position: 0 50px;}

#columnaTwitter{float:left; display: block; width:100px; height:50px;background: url('/assets/twitter.png') top;text-indent: -99999px;}
#columnaTwitter:hover {background-position: 0 50px;}

#columnalinkedIn{float:left; display: block; width:100px; height:50px;background: url('/assets/linkedIn.png') top;text-indent: -99999px;}
#columnalinkedIn:hover {background-position: 0 50px;}

.cajaSocial img{ text-align:center;}
.cajaSocialTexto{
font-size:16px; color:white; text-align:center; background:#232323;
margin:-20px 0 30px 0;
padding:10px 0;
-webkit-border-radius: 1px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius: 1px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-radius: 1px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;}

.menuFooter{ background-color:#232323; padding:30px 0; border-top:1px solid #CECECE; border-bottom:1px solid #CECECE;}

.tituloObra a{text-decoration:none; color:#666;font-size:20px; margin:10px; font-weight:bold; }
.tituloObra a:hover{text-decoration:none; color:#E5E5E5;}

.textocentrado{text-align:center;}

.textoJustificado{text-align:justify;}

.NombreUsuarioIncio { font-size:18px; font-style:italic; text-align:center;}

#DerechosAutor{ font-family: Arial, Helvetica, sans-serif; font-size:16px; color:#D6D6D6; margin:10px; padding:20px 0;}

.borde{border:1px solid red;}
.bordeAzul{border:1px solid blue;}
.margenes{margin:20px 0;}
.margenes2{margin:10px 50px; font-size:18px;}

.general {
	background:#EDEDED;
	padding:15px;
	margin:10px;
	border:10px solid gray;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.imagen {
	float: right;
	margin: 50px;	
}

.titulo {
	color:#808080;
	font-size:18px;
	margin:0 0 0 20px;
	font-weight:bold;
}

.cuenta {
	float:right;
	padding:10px;
}


