
.general {
	background:#D0D0D0;
	padding:15px;
	margin:10px;
	border:10px solid gray;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.imagen {
	float: right;
	margin: 50px;	
}

.titulo {
	color:#808080;
}

.cuenta {
	float:right;
	padding:10px;
}