<!DOCTYPE html>
<html>
<head>
  <title>Diseno</title>
  <%= stylesheet_link_tag    "application", "bootstrap-responsive" %>
  <%= javascript_include_tag :all  %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
